
* {
    padding: 0;
    border: none;
  }
  
  body {
    font-size: 16px;
    line-height: 26px;
    border: 1px solid green;
  }
  
  nav a {
    border: 1px solid green;
  }
  
  footer.page-footer {
    padding: 20px;
    background-color: #283618;
    color: white;
  }
  
  main {
    border: 5px solid #2d508f;
  }
  
  h1 {
    font-size: 2em;
  }
  
  body {
    background: #ffffff url("bg.png") no-repeat top center;
  }
  
  .skills dd {
    background-color: #e8e8e8;
    margin: 0;
    margin-bottom: 10px;
  }
  
  .skills-level {
    font-size: 12px;
    text-align: center;
    color: #ffffff;
    background-color: #4470c4;
  }
  
  .skills-level-ok {
    background-color: #47bb52;
  }
  